Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    fish-indent:
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

Setup lefthook
  .lefthook.yml
Due: prettier

configure stylua
  dot_config/nvim/.stylua.toml
  dot_config/nvim/init.lua
  dot_config/nvim/lua/autocmd.lua
  dot_config/nvim/lua/config/lazy.lua
  dot_config/nvim/lua/option.lua
  dot_config/nvim/lua/plugins/appearance.lua
  dot_config/nvim/lua/plugins/formatter.lua
  dot_config/nvim/lua/plugins/fuzzy-finder.lua
  dot_config/nvim/lua/plugins/lsp.lua
  dot_config/nvim/lua/plugins/plugin.lua
  dot_config/nvim/lua/plugins/treesitter.lua
  dot_config/nvim/lua/vim_extension.lua
Due: stylua, taplo

nvim: refactor
  dot_config/nvim/lua/autocmd.lua
  dot_config/nvim/lua/plugins/appearance.lua
  dot_config/nvim/lua/plugins/formatter.lua
  dot_config/nvim/lua/plugins/fuzzy-finder.lua
  dot_config/nvim/lua/plugins/lsp.lua
  dot_config/nvim/lua/plugins/plugin.lua
Due: stylua

mise: add tools for Languase server
  dot_config/mise/conf.d/lsp.toml
Due: taplo

nvim: use original trouble.nvim
  dot_config/nvim/lua/plugins/lsp.lua
Due: stylua

karabiner: change file permission
  dot_config/private_karabiner/assets/private_complex_modifications/1501983790.json
  dot_config/private_karabiner/complex_modifications/1501983790.json
  dot_config/private_karabiner/karabiner.json
Due: prettier

fish: remove abbr definitions
  dot_config/fish/conf.d/03_abbr.fish
Due: fish-indent

mise: add copilot-language-server
  dot_config/mise/conf.d/lsp.toml
Due: taplo

mise: settings.toml
  dot_config/mise/conf.d/settings.toml
Due: taplo

xremap
  dot_config/xremap/config.yml
Due: prettier

nvim: lazy
  dot_config/nvim/lua/plugins/lsp.lua
Due: stylua

update .gitignore
  dot_config/git/ignore
Due: none

fish: Rootless Docker for Linux
  dot_config/fish/conf.d/01_env.fish.tmpl
Due: none

hyprland: gesture API change
  dot_config/hypr/hyprland.conf
Due: none

nvim: add Arduino LS
  dot_config/nvim/lua/plugins/lsp.lua
Due: stylua

fish: add chezmoicd
  dot_config/fish/functions/chezmoicd.fish
Due: fish-indent

fish: fix init-ssh-agent.fish
  dot_config/fish/functions/init-ssh-agent.fish.tmpl
  dot_local/bin/executable_notification
Due: none

remove mise config
  .chezmoiignore
  dot_config/mise/conf.d/settings.toml
Due: taplo

fish: fix install neovim function
  dot_config/fish/functions/install-neovim.fish.tmpl
Due: none
