Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo

fish-indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

stylua:
  run: stylua {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo fmt {staged_files}
  stage_fixed: true

Add USB autosuspend workaround for MT7925 Bluetooth
  hosts/nixos/default.nix
Due: none

Add Prometheus + Grafana monitoring stack
  hosts/nixos/default.nix
Due: none

Add shared data volume mount at /mnt/shared
  hosts/nixos/hardware-configuration.nix
Due: none

Move service data to shared volume
  hosts/nixos/default.nix
  hosts/nixos/hardware-configuration.nix
Due: none

Update Grafana dashboard and process exporter config
  hosts/nixos/default.nix
Due: none

Add Ollama models and enable Open WebUI web search
  hosts/nixos/default.nix
Due: none

Refactor NixOS config into separate modules
  hosts/nixos/default.nix
  hosts/nixos/llm.nix
  hosts/nixos/monitoring.nix
Due: none

Fix Ollama ROCm configuration
  hosts/nixos/llm.nix
Due: none

Upgrade to latest kernel for Strix Halo VRAM fix
  hosts/nixos/default.nix
Due: none

Add opencode AI coding agent
  hosts/home-linux.nix
Due: none

Add Unity development environment
  hosts/home-linux.nix
  hosts/home.nix
  modules/hyprland/files/hyprland.conf
  modules/nvim/files/lua/plugins/lsp.lua
  modules/vscode/default.nix
Due: stylua

Add Python 3
  hosts/home.nix
Due: none

Update flake.lock
  flake.lock
Due: none

Refactor macOS configuration: separate nix-darwin and home-manager
  .gitignore
  Makefile
  flake.lock
  flake.nix
  hosts/darwin/default.nix
  hosts/darwin/homebrew.nix
  hosts/darwin/system.nix
  hosts/home-darwin.nix
  hosts/home-linux.nix
  hosts/home.nix
  modules/fish/default.nix
  modules/fish/files/conf.d/00_config.fish
  modules/fish/files/functions/build-neovim.fish
  modules/ghostty/default.nix
  modules/ghostty/files/config
  modules/karabiner/files/karabiner.json
Due: fish-indent, prettier

Reorganize directory structure: separate hosts/ and home/
  flake.nix
  home/common.nix
  home/darwin.nix
  home/linux.nix
Due: none

Add cc-notify script for cross-platform notifications
  home/darwin.nix
  modules/scripts-darwin/default.nix
  modules/scripts-darwin/files/cc-notify.ts
  modules/scripts-linux/files/cc-notify.ts
  modules/scripts-linux/files/claude_code_notify.sh
Due: prettier

fish: fix fts function
  modules/fish/files/functions/fts.fish
Due: fish-indent

add GNU AWK
  home/common.nix
Due: none

Fix open-webui build by adding dependency overlays
  flake.nix
Due: none

Path conditions:
  fish-indent: any of: *.fish
  stylua: any of: *.lua
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  taplo: any of: *.toml
