Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo

fish-indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

stylua:
  run: stylua {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo fmt {staged_files}
  stage_fixed: true

fish: fix install neovim function
  dot_config/fish/functions/install-neovim.fish.tmpl
Due: none

fish: add functions for chezmoi operation
  dot_config/fish/functions/chezmoi-apply.fish
  dot_config/fish/functions/chezmoi-cd.fish
  dot_config/fish/functions/chezmoi-diff.fish
  dot_config/fish/functions/chezmoicd.fish
Due: fish-indent

fish: update functions for chezmoi operation
  dot_config/fish/functions/chezmoi-apply.fish
  dot_config/fish/functions/chezmoi-cd.fish
  dot_config/fish/functions/chezmoi-diff.fish
Due: fish-indent

update .gitignore
  dot_config/git/ignore
Due: none

fish: update CC hooks notification script
  .chezmoiignore
  dot_config/dunst/dunstrc
  dot_config/hypr/hyprland.conf
  dot_local/bin/executable_claude_code_notify.sh
Due: none

Use direnv
  dot_config/fish/config.fish.tmpl
  dot_config/git/ignore
Due: none

nvim: update codecompanion.nvim config
  dot_config/nvim/lua/plugins/codecompanion.lua
  dot_config/nvim/lua/plugins/plugin.lua
Due: stylua

fish: add sccache config and improve fkl function
  dot_config/fish/conf.d/01_env.fish.tmpl
  dot_config/fish/functions/fkl.fish
Due: fish-indent

git: add .mcp.json to global gitignore
  dot_config/git/ignore
Due: none

nvim: simplify LSP configuration with common_config
  dot_config/nvim/lua/plugins/lsp.lua
Due: stylua

nvim: improve CodeCompanion configuration and UI
  dot_config/nvim/lua/plugins/appearance.lua
  dot_config/nvim/lua/plugins/codecompanion.lua
Due: stylua

security: integrate gitleaks for secret scanning
  .gitleaks.toml
  .lefthook.yml
Due: prettier, taplo

fish: add statusline for claude code
  dot_claude/executable_statusline.sh
  dot_config/fish/functions/cc_statusline_block_timer.fish
  dot_config/fish/functions/cc_statusline_code_changes.fish
  dot_config/fish/functions/cc_statusline_context.fish
  dot_config/fish/functions/cc_statusline_cost.fish
  dot_config/fish/functions/cc_statusline_directory.fish
  dot_config/fish/functions/cc_statusline_git.fish
  dot_config/fish/functions/cc_statusline_model.fish
  dot_config/fish/functions/cc_statusline_output_style.fish
  dot_config/fish/functions/cc_statusline_timer.fish
  dot_config/fish/functions/cc_statusline_tokens.fish
  dot_config/fish/functions/cc_statusline_tokens_detail.fish
  dot_config/fish/functions/cc_statusline_transcript_data.fish
Due: fish-indent

fish: refactor config for tmux compatibility
  dot_config/fish/conf.d/01_env.fish.tmpl
  dot_config/fish/conf.d/99_hook.fish
  dot_config/fish/config.fish.tmpl
  dot_config/fish/functions/add_path_if_exists.fish
  dot_config/fish/functions/chezmoi-cd.fish
Due: fish-indent

git: support symlinks in global ignore patterns
  dot_config/git/ignore
Due: none

fish: remove chezmoi wrapper functions
  dot_config/fish/functions/chezmoi-apply.fish
  dot_config/fish/functions/chezmoi-cd.fish
  dot_config/fish/functions/chezmoi-diff.fish
Due: fish-indent

Replace ~/.local/share with $XDG_DATA_HOME
  dot_config/fish/functions/build-neovim.fish
  dot_config/fish/functions/neovim-ftest.fish
Due: fish-indent

fish: add function to remove git worktree
  dot_config/fish/functions/fgwr.fish
Due: fish-indent

fish: Improve fzf functions with error handling and confirmations
  dot_config/fish/conf.d/99_hook.fish
  dot_config/fish/functions/fdr.fish
  dot_config/fish/functions/fga.fish
  dot_config/fish/functions/fgadd.fish
  dot_config/fish/functions/fgc.fish
  dot_config/fish/functions/fgdb.fish
  dot_config/fish/functions/fgreset.fish
  dot_config/fish/functions/fgss.fish
  dot_config/fish/functions/fkill.fish
  dot_config/fish/functions/frepo.fish
Due: fish-indent

Fix Claude Code focus event bug in tmux and Ghostty
  dot_config/ghostty/config.tmpl
  dot_config/tmux/tmux.conf
Due: none

starship: Simplify prompt configuration
  dot_config/starship.toml
Due: taplo

Path conditions:
  fish-indent: any of: *.fish
  stylua: any of: *.lua
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  taplo: any of: *.toml
