Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

Update flake.lock
  flake.lock
Due: none

Add nvd and diff commands for package version comparison
  .gitignore
  Makefile
  home/common.nix
Due: nixfmt

Add ruby to cross-platform packages
  home/common.nix
Due: nixfmt

Add device watch to xremap for auto-detecting new keyboards
  modules/systemd/default.nix
Due: nixfmt

Add macOS-style screenshot keybindings and swappy config
  home/linux.nix
  modules/hyprland/files/hyprland.conf
  modules/swappy/default.nix
Due: nixfmt

Add Emacs-style navigation to rofi (Ctrl+n/p)
  modules/rofi/files/config.rasi
Due: none

Add ENABLE_TOOL_SEARCH env for Claude Code
  modules/fish/files/conf.d/02_env.fish
Due: fish-indent

Fix tmux plugin interpolation and enable 24-hour clock
  modules/tmux/default.nix
  modules/tmux/files/tmux.conf
Due: nixfmt

Add git-cliff for changelog generation
  home/common.nix
Due: nixfmt

Simplify tmux status bar to 24-hour format only
  modules/tmux/files/appearance.conf
Due: none

Add window close confirmation dialog (Super+C)
  modules/hyprland/files/hyprland.conf
  modules/hyprland/files/script/close-window-confirm.sh
Due: none

Add sound-theme-freedesktop for system sounds
  home/linux.nix
Due: nixfmt

Add battery function to show HID device battery status
  modules/fish/files/functions/battery.fish
Due: fish-indent

Add window actions menu with rofi, remove individual keybinds
  modules/hyprland/files/hyprland.conf
  modules/hyprland/files/script/window-actions.sh
Due: none

Change close window keybind from mod+C to mod+shift+X
  modules/hyprland/files/hyprland.conf
Due: none

Add rustup and remove rust-analyzer to avoid conflict
  home/common.nix
Due: nixfmt

Add clang for Rust linker (LLVM-based, better for Rust)
  home/common.nix
Due: nixfmt

Fix cc-notify sound path for NixOS
  modules/scripts-linux/files/cc-notify.ts
Due: prettier

Add close window option to window actions menu
  modules/hyprland/files/script/window-actions.sh
Due: none

Add centerwindow and pin keybinds for floating window management
  modules/hyprland/files/hyprland.conf
Due: none

Disable USB Bluetooth dongle, use internal MT7925 only
  hosts/nixos/default.nix
Due: nixfmt

Enable middle-click autoscroll in Vesktop
  home/linux.nix
Due: nixfmt

Enable Steam features for Wayland and LAN gaming
  hosts/nixos/default.nix
Due: nixfmt

Add network diagnostic tools
  home/common.nix
Due: nixfmt

Use wildcard pattern for optional local config and document game audio fix
  modules/hyprland/files/hyprland.conf
  modules/hyprland/files/hyprland.local.conf
Due: none

Add KDE Connect with firewall rules for local and Tailscale networks
  home/linux.nix
  hosts/nixos/default.nix
Due: nixfmt

Configure Ghostty with platform-specific settings
  hosts/nixos/default.nix
  modules/ghostty/default.nix
  modules/ghostty/files/config
Due: nixfmt

Improve waybar visibility with larger fonts and icons
  modules/waybar/files/config.jsonc
  modules/waybar/files/style.css
Due: prettier

Add external display brightness control via DDC/CI
  hosts/nixos/default.nix
  modules/hyprland/files/hyprland.conf
  modules/scripts-linux/default.nix
  modules/scripts-linux/files/brightness.ts
  modules/waybar/files/config.jsonc
  modules/waybar/files/script/brightness_status.ts
Due: prettier, nixfmt

Enable Docker Rootless mode on NixOS
  hosts/nixos/default.nix
Due: nixfmt

Add development tools and reorganize package groups
  home/darwin.nix
  home/linux.nix
  hosts/darwin/homebrew.nix
Due: nixfmt

remove traceroute and iputils from darwin
  home/common.nix
  home/linux.nix
Due: nixfmt

Revert "Update flake.lock"
  flake.lock
Due: none

remove broken packages
  home/darwin.nix
  home/linux.nix
Due: nixfmt

Move clang from common to Linux-only
  home/common.nix
  home/linux.nix
Due: nixfmt

Improve tmux copy mode visibility
  modules/tmux/files/appearance.conf
Due: none
