Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

Update waybar clock format to show date
  modules/waybar/files/config.jsonc
Due: none

Disable Bluetooth profile auto-switching to prevent audio loss
  hosts/nixos/default.nix
Due: nixfmt

Remove omnisharp-roslyn from darwin
  home/common.nix
  home/linux.nix
Due: nixfmt

Update flake.lock
  flake.lock
Due: none

Enable starship status module to show command exit status
  modules/starship/files/starship.toml
Due: taplo

Move hub package to common for cross-platform use
  home/common.nix
  home/darwin.nix
Due: nixfmt

Add merged indicator and exclude default branch from deletion
  modules/fish/files/functions/fgc.fish
  modules/fish/files/functions/fgdb.fish
Due: fish-indent

Add --merged option to fgdb to filter merged branches only
  modules/fish/files/functions/fgdb.fish
Due: fish-indent

Revert WirePlumber Bluetooth autoswitch disable config
  hosts/nixos/default.nix
Due: nixfmt

Load mt7925e kernel module at boot
  hosts/nixos/default.nix
Due: nixfmt

Configure suspend-then-hibernate and power key long press
  hosts/nixos/default.nix
Due: nixfmt

Add p7zip to home packages
  home/common.nix
Due: nixfmt

Use latest gemini-cli
  modules/mise/default.nix
Due: nixfmt

Add extra shells on Linux
  home/linux.nix
Due: nixfmt

Reduce systemd-boot entries
  hosts/nixos/default.nix
Due: nixfmt

Rename gc target to nix-gc
  Makefile
Due: none

Switch to Breeze icons and cursors
  home/linux.nix
  modules/dunst/default.nix
  modules/hyprland/files/env
  modules/theme/default.nix
Due: nixfmt

Migrate cc-status script into TypeScript
  modules/fish/files/functions/cc_statusline_block_timer.fish
  modules/fish/files/functions/cc_statusline_code_changes.fish
  modules/fish/files/functions/cc_statusline_context.fish
  modules/fish/files/functions/cc_statusline_cost.fish
  modules/fish/files/functions/cc_statusline_directory.fish
  modules/fish/files/functions/cc_statusline_git.fish
  modules/fish/files/functions/cc_statusline_model.fish
  modules/fish/files/functions/cc_statusline_output_style.fish
  modules/fish/files/functions/cc_statusline_timer.fish
  modules/fish/files/functions/cc_statusline_tokens.fish
  modules/fish/files/functions/cc_statusline_tokens_detail.fish
  modules/fish/files/functions/cc_statusline_transcript_data.fish
  modules/scripts/default.nix
  modules/scripts/files/cc-statusline.ts
Due: fish-indent, prettier, nixfmt

Ghostty: unbind toggle fullscreen keybind
  modules/ghostty/files/config
Due: none

Configure OpenCode with unstable version and gitignore
  home/linux.nix
  modules/git/files/ignore
Due: nixfmt

Fix deprecation warnings in NixOS configuration
  home/linux.nix
  hosts/nixos/default.nix
Due: nixfmt

Add Obsidian for knowledge management
  home/linux.nix
Due: nixfmt

Replace Prettier with dprint for faster formatting
  .lefthook.yml
  dprint.json
  home/common.nix
  modules/fastfetch/files/config.jsonc
Due: prettier, nixfmt

Add Picard and Kid3 for music metadata editing
  home/linux.nix
Due: nixfmt

Enable experimental features and BuildKit for rootless Docker
  hosts/nixos/default.nix
Due: nixfmt

Fix Breeze cursor theme name to match actual package
  home/linux.nix
  modules/hyprland/files/env
Due: nixfmt

Use unstable navidrome to avoid Go 1.24.12 build issue
  flake.lock
  hosts/nixos/default.nix
Due: nixfmt

Add Chrome desktop entry with 2-finger gestures
  home/linux.nix
Due: nixfmt

Fix Neovim checkhealth errors and LSP warnings
  home/common.nix
  modules/nvim/files/.luarc.json
  modules/nvim/files/lua/autocmd.lua
  modules/nvim/files/lua/option.lua
  modules/nvim/files/lua/vim_extension.lua
Due: stylua, prettier, nixfmt

Use unstable tbls on macOS for latest features
  home/darwin.nix
Due: nixfmt

Enable nix-ld for dynamically linked binaries
  hosts/nixos/default.nix
Due: nixfmt

Rewrite search launcher in TypeScript with NixOS support
  modules/hyprland/files/hyprland.conf
  modules/hyprland/files/script/search_launcher.sh
  modules/scripts-linux/default.nix
  modules/scripts-linux/files/nix-search.ts
Due: prettier, nixfmt

Replace swappy with satty for screenshot annotation
  home/linux.nix
  modules/hyprland/files/hyprland.conf
  modules/satty/default.nix
Due: nixfmt

Add cc-statusline as executable script
  modules/scripts/default.nix
Due: nixfmt

Enable graphics protocol passthrough in tmux
  modules/tmux/files/tmux.conf
Due: none

Add yazi terminal file manager
  home/common.nix
Due: nixfmt
