Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo

fish-indent:
  run: fish_indent -w {staged_files}
  stage_fixed: true

stylua:
  run: stylua {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  run: taplo fmt {staged_files}
  stage_fixed: true

starship: Simplify prompt configuration
  dot_config/starship.toml
Due: taplo

fish: Improve fts function with process list and current session marker
  dot_config/fish/functions/fts.fish
Due: fish-indent

fish: Add Google Cloud structured log parsing to fkl function
  dot_config/fish/functions/fkl.fish
Due: fish-indent

git: change gitignore order
  dot_config/git/ignore
Due: none

fish: Comment out unnecessary build flags and LLVM path
  dot_config/fish/conf.d/01_env.fish.tmpl
  dot_config/fish/config.fish.tmpl
Due: none

Fix tmux new mode keybindings and add documentation
  dot_config/tmux/tmux.conf
Due: none

fish: Add fks function for interactive Kubernetes context and namespace switching
  dot_config/fish/functions/fks.fish
Due: fish-indent

nvim: Update codecompanion.nvim config for v18.0.0 breaking changes
  dot_config/nvim/lua/plugins/codecompanion.lua
Due: stylua

fish: Add fterm function for graceful process termination
  dot_config/fish/functions/fterm.fish
Due: fish-indent

nvim: Disable codecompanion plugin temporarily for debugging
  dot_config/nvim/lua/plugins/codecompanion.lua
  dot_config/nvim/lua/plugins/plugin.lua
Due: stylua

fish: update
  dot_config/fish/functions/fgconf.fish
  dot_config/fish/functions/fgdb.fish
Due: fish-indent

ghostty: update
  dot_config/ghostty/config.tmpl
Due: none

fish: attach selected tmux session function
  dot_config/fish/functions/fta.fish
Due: fish-indent

Install Steam
  hosts/home-linux.nix
  hosts/nixos/default.nix
  modules/hyprland/files/hyprland.conf
Due: none

Install ripping tools
  hosts/home-linux.nix
  hosts/nixos/default.nix
Due: none

nix: fix warning
  modules/git/default.nix
Due: none

Install Navidrome and Tailscale
  hosts/nixos/default.nix
Due: none

nix: refactoring
  flake.nix
  hosts/nixos/default.nix
Due: none

Install Ollama
  flake.lock
  flake.nix
  hosts/home-linux.nix
  hosts/nixos/default.nix
Due: none

Path conditions:
  fish-indent: any of: *.fish
  stylua: any of: *.lua
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  taplo: any of: *.toml
