Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

Update nixpkgs to unbreak aes_generic initrd build
  flake.lock
Due: none

Update flake.lock
  flake.lock
Due: none

Add Godot 4 for game development
  home/linux.nix
Due: nixfmt

Add KDE Plasma 6 session, switch xremap to flake
  flake.lock
  flake.nix
  home/linux.nix
  hosts/nixos/default.nix
  modules/fcitx5/default.nix
  modules/hyprland/files/hyprland.conf
  modules/niri/files/config.kdl
  modules/plasma/default.nix
  modules/systemd/default.nix
  modules/xremap/default.nix
  modules/xremap/files/config.yml
Due: prettier, nixfmt

Configure GDScript LSP in Neovim
  modules/nvim/files/lua/plugins/lsp.lua
Due: stylua

Remove tmux-asan debugging package
  modules/tmux/default.nix
  overlays/tmux-master.nix
Due: nixfmt

Add render-markdown.nvim and md-render.nvim
  modules/nvim/files/lua/plugins/markdown.lua
Due: stylua

Update tmux master to 18ddda4
  overlays/tmux-master.nix
Due: nixfmt

Disable lazy.nvim auto-update on VimEnter
  modules/nvim/files/lua/autocmd.lua
Due: stylua

Set mise minimum_release_age to 7d
  modules/mise/default.nix
Due: nixfmt

Harden mise supply chain settings
  modules/mise/default.nix
Due: nixfmt

Dogfood lazy.nvim minimum_release_age fork
  modules/nvim/files/lua/config/lazy.lua
Due: stylua

Add openssl CLI to user packages
  home/common.nix
Due: nixfmt

Audit-gate Homebrew cask upgrades on Darwin
  Makefile
  home/darwin.nix
  hosts/darwin/homebrew.nix
Due: nixfmt

Pin docker_29 for devcontainer; bump flake inputs
  flake.lock
  home/common.nix
Due: nixfmt

Bump tmux-master overlay to latest commit
  overlays/tmux-master.nix
Due: nixfmt

Add kubecolor with fish integration
  home/common.nix
  modules/fish/files/conf.d/08_kubecolor.fish
Due: fish-indent, nixfmt

Skip mise OCI test that fails in Nix sandbox
  flake.lock
  modules/mise/default.nix
Due: nixfmt

Update tmux
  overlays/tmux-master.nix
Due: nixfmt

Update flake.lock
  flake.nix
Due: nixfmt

Fix jsonls formatting and language server chunk loading
  modules/nvim/files/lua/plugins/lsp.lua
  overlays/vscode-langservers-fix.nix
Due: stylua, nixfmt

Add zsh module with standard interactive settings
  home/common.nix
  modules/zsh/default.nix
  modules/zsh/files/zshenv
  modules/zsh/files/zshrc
Due: nixfmt

Guard DOCKER_HOST on unset XDG_RUNTIME_DIR
  modules/fish/files/conf.d/02_env.fish
Due: fish-indent

Guard DOCKER_HOST in zshenv on unset XDG_RUNTIME_DIR
  modules/zsh/files/zshenv
Due: none

tmp
  modules/scripts/files/cc-statusline.ts
Due: prettier

Add skaffold
  home/common.nix
Due: nixfmt

Update Claude Code status line script
  modules/scripts/default.nix
  modules/scripts/files/cc-statusline.ts
  modules/scripts/files/cc-subagent-statusline.ts
Due: prettier, nixfmt

nvim: disable codecompanion.nvim
  modules/nvim/files/lua/plugins/codecompanion.lua
Due: stylua

nvim: remove codecompanion.nvim
  modules/nvim/files/lua/plugins/codecompanion.lua
  modules/nvim/files/lua/plugins/completion.lua
Due: stylua

nvim: remove codecompanion.nvim
  modules/nvim/files/lua/plugins/appearance.lua
  modules/nvim/files/lua/plugins/codecompanion.lua
  modules/nvim/files/lua/plugins/completion.lua
Due: stylua
