Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

Remove obsolete darwin build workarounds
  flake.nix
  modules/mise/default.nix
  overlays/direnv-darwin-fix.nix
  overlays/fish-darwin-codesign-fix.nix
  overlays/inetutils-macos-fix.nix
Due: nixfmt

Rename gitignore-local dir to .den
  modules/git/files/ignore
Due: none

Add tgrep for trigram-indexed codebase search
  home/common.nix
Due: nixfmt

t495s
  Makefile
  README.md
  flake.nix
  hosts/linux/common.nix
  hosts/ms-s1-max/default.nix
  hosts/ms-s1-max/hardware-configuration.nix
  hosts/ms-s1-max/llm.nix
  hosts/ms-s1-max/monitoring.nix
  hosts/t495s/default.nix
  hosts/t495s/hardware-configuration.nix
Due: prettier, nixfmt

Add t495s
  Makefile
  README.md
  flake.nix
  home/linux.nix
  hosts/linux/common.nix
  hosts/ms-s1-max/default.nix
  hosts/ms-s1-max/hardware-configuration.nix
  hosts/ms-s1-max/llm.nix
  hosts/ms-s1-max/monitoring.nix
  hosts/t495s/default.nix
  hosts/t495s/hardware-configuration.nix
  hosts/t495s/hyprland.local.conf
  modules/hyprland/files/empty.local.conf
  modules/mise/default.nix
Due: prettier, nixfmt

Update flake.lock
  flake.lock
Due: none

Install tmux plugins
  modules/tmux/default.nix
  modules/tmux/files/tmux.conf
Due: nixfmt

Add Neovim binary cache
  hosts/linux/common.nix
Due: nixfmt

Use stable mise package
  modules/mise/default.nix
Due: nixfmt
