Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

fish-indent:
  priority: 10
  run: fish_indent -w {staged_files}
  stage_fixed: true

stylua:
  priority: 10
  run: stylua {staged_files}
  stage_fixed: true

prettier:
  priority: 10
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  priority: 10
  run: taplo fmt {staged_files}
  stage_fixed: true

nixfmt:
  priority: 10
  run: nixfmt {staged_files}
  stage_fixed: true

Add tmux master branch overlay
  flake.nix
  overlays/tmux-master.nix
Due: nixfmt

Simplify .gitignore to cover all result-* files
  .gitignore
Due: none

Add sound control options to cc-notify
  modules/scripts-darwin/files/cc-notify.ts
  modules/scripts-linux/files/cc-notify.ts
Due: prettier

remove claude code from mise
  modules/mise/default.nix
Due: nixfmt

Add tmux-asan package for debugging
  modules/tmux/default.nix
  overlays/tmux-master.nix
Due: nixfmt

Update tmux to e6522138
  overlays/tmux-master.nix
Due: nixfmt

Add p7zip package
  home/darwin.nix
Due: nixfmt

Add AeroSpace config (disabled)
  hosts/darwin/default.nix
Due: nixfmt

Add Zellij
  home/common.nix
Due: nixfmt

Switch display manager from greetd to SDDM
  hosts/nixos/default.nix
Due: nixfmt

Update flake.lock
  flake.lock
Due: none

Rename wireshark
  hosts/darwin/homebrew.nix
Due: nixfmt

Add tmux session persistence and keybinding help
  modules/fish/files/functions/tmux-help.fish
  modules/nvim/files/lua/plugins/session.lua
  modules/tmux/default.nix
  modules/tmux/files/tmux.conf
Due: fish-indent, stylua, nixfmt

Add tss function for tmux session start with restore
  modules/fish/files/functions/tss.fish
Due: fish-indent

Add lefthook branch protection
  home/common.nix
  modules/fish/files/functions/branch-protection-install.fish
  modules/git/files/ignore
  modules/lefthook/default.nix
  modules/lefthook/files/branch-protection.yml
Due: fish-indent, prettier, nixfmt

Rename install-* fish functions to *-install
  modules/fish/files/functions/neovim-install.fish
  modules/fish/files/functions/tmux-install.fish
Due: fish-indent

Start tss temp session from home directory
  modules/fish/files/functions/tss.fish
Due: fish-indent

Add Nix-managed fonts to macOS
  flake.nix
  hosts/darwin/default.nix
  hosts/darwin/homebrew.nix
Due: nixfmt

Add Obsidian to macOS Homebrew casks
  hosts/darwin/homebrew.nix
Due: nixfmt

Update tmux overlay to d7f59eccaf7f
  overlays/tmux-master.nix
Due: nixfmt

Start new tmux sessions from home directory
  modules/tmux/files/tmux.conf
Due: none

Add git-clean-locks fish function
  modules/fish/files/functions/git-clean-locks.fish
Due: fish-indent

Add jujutsu (jj) to common packages
  home/common.nix
Due: nixfmt

Add Claude Code hook scripts for enhanced notifications
  modules/scripts/default.nix
  modules/scripts/files/cc-hook-notification.ts
  modules/scripts/files/cc-hook-stop.ts
Due: prettier, nixfmt

Unify notification message format with Stop hook
  modules/scripts/files/cc-hook-notification.ts
Due: prettier

Add bun to common packages
  home/common.nix
Due: nixfmt

Add niri compositor support alongside Hyprland
  home/linux.nix
  hosts/nixos/default.nix
  modules/fuzzel/default.nix
  modules/fuzzel/files/fuzzel.ini
  modules/hyprland/files/hyprland.conf
  modules/niri/default.nix
  modules/niri/files/config.kdl
  modules/scripts-linux/files/cc-notify.ts
  modules/scripts-linux/files/nix-search.ts
  modules/swaylock/default.nix
  modules/swaylock/files/config
  modules/systemd/default.nix
  modules/waybar/files/config-niri.jsonc
  modules/waybar/files/script/power_menu.sh
  modules/waybar/files/script/waybar-launcher.sh
  modules/xremap/default.nix
Due: prettier, nixfmt

Use jujutsu from nixpkgs-unstable
  home/common.nix
Due: nixfmt

Work around inetutils 2.7 build failure on macOS
  flake.nix
Due: nixfmt

Add .gemini to global gitignore
  modules/git/files/ignore
Due: none

Auto-detect host platform in Makefile targets
  Makefile
Due: none

Remove open-webui dependency overlays
  flake.nix
Due: nixfmt

Update tmux master overlay to d3522c3
  overlays/tmux-master.nix
Due: nixfmt

Path conditions:
  fish-indent: any of: *.fish
  stylua: any of: *.lua
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  taplo: any of: *.toml
  nixfmt: any of: *.nix
