Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

git: update gitignore
  modules/git/files/ignore
Due: none

Update flake.lock
  flake.lock
Due: none

Update nixpkgs, home-manager, and nix-darwin to 26.05
  flake.lock
  flake.nix
  home/common.nix
  modules/nvim/default.nix
  overlays/tmux-master.nix
Due: nixfmt

Bump pinned tmux master revision, enable jemalloc
  overlays/tmux-master.nix
Due: nixfmt

homebrew: remove cmux
  hosts/darwin/homebrew.nix
Due: nixfmt

fish: skip interactive-only hooks in non-interactive shells
  modules/fish/files/conf.d/02_env.fish
  modules/fish/files/conf.d/08_kubecolor.fish
  modules/fish/files/conf.d/99_hook.fish
Due: fish-indent

tmux: source fzf functions explicitly in popups
  modules/tmux/files/tmux.conf
Due: none

nvim: change lazy.nvim feature branch
  modules/nvim/files/lua/config/lazy.lua
Due: stylua

Add pandoc
  home/common.nix
Due: nixfmt

Migrate NixOS 26.05 settings
  home/linux.nix
  hosts/nixos/default.nix
  hosts/nixos/llm.nix
  hosts/nixos/monitoring.nix
  modules/theme/default.nix
Due: nixfmt

Add Keychron IME remapping
  modules/xremap/files/config.yml
Due: prettier

Use sudo for NixOS dry activation
  Makefile
Due: none

Remove obsolete ROCm GPU override
  hosts/nixos/llm.nix
Due: nixfmt

Grant Keychron Launcher device access
  hosts/nixos/default.nix
Due: nixfmt

Set Hyprland as default session
  hosts/nixos/default.nix
Due: nixfmt

Add disk diagnostic utilities
  hosts/nixos/default.nix
Due: nixfmt

Update Hyprland configuration syntax
  modules/hyprland/files/hyprland.conf
Due: none

Simplify tmux session switcher to a single fzf popup
  modules/fish/files/functions/fts.fish
  modules/tmux/files/tmux.conf
Due: fish-indent

Add tns fish function to create or switch tmux session
  modules/fish/files/functions/tns.fish
Due: fish-indent

Build PATH globally, set theme colors interactively
  modules/fish/files/conf.d/00_config.fish
  modules/fish/files/conf.d/03_theme.fish
  modules/fish/files/functions/add_path_if_exists.fish
Due: fish-indent

Use upstream lazy.nvim instead of personal fork
  modules/nvim/files/lua/config/lazy.lua
Due: stylua

Distinguish merged vs identical branches in fgdb, add colors
  modules/fish/files/functions/fgdb.fish
Due: fish-indent

Add poppler-utils to darwin packages
  home/darwin.nix
Due: nixfmt

Set fish colors globally, drop theme directory
  modules/fish/default.nix
  modules/fish/files/conf.d/03_theme.fish
  modules/fish/files/themes/tokyonight_night.theme
Due: fish-indent, nixfmt

Install copilot-language-server via nixpkgs, not mise
  home/common.nix
  modules/mise/default.nix
Due: nixfmt

Replace hub with a git-sync script
  home/common.nix
  modules/fish/files/functions/tmux-install.fish
  modules/scripts/default.nix
  modules/scripts/files/git-sync
Due: fish-indent, nixfmt

Add fpd fish function to inspect a process's cwd
  modules/fish/files/functions/fpd.fish
Due: fish-indent

Scope unfree license exception to copilot-language-server
  home/common.nix
Due: nixfmt

Fix git-sync to safely sync branches in other worktrees
  modules/scripts/files/git-sync
Due: none

Enable Tailscale SSH
  hosts/nixos/default.nix
Due: nixfmt

Add fgde fish function to open dirty files in nvim
  modules/fish/files/functions/fgde.fish
Due: fish-indent

Add zig to cross-platform packages
  home/common.nix
Due: nixfmt

Cut tmux status-line process churn
  modules/tmux/default.nix
  modules/tmux/files/appearance.conf
  modules/tmux/files/scripts/cached_status.sh
  modules/tmux/files/scripts/status_right.sh
  modules/tmux/files/tmux.conf
Due: nixfmt

Update tmux
  overlays/tmux-master.nix
Due: nixfmt

Manage zig via mise instead of nixpkgs
  home/common.nix
  modules/mise/default.nix
Due: nixfmt
