Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

fish-indent:
  priority: 10
  run: fish_indent -w {staged_files}
  stage_fixed: true

stylua:
  priority: 10
  run: stylua {staged_files}
  stage_fixed: true

prettier:
  priority: 10
  run: npx prettier --write {staged_files}
  stage_fixed: true

taplo:
  priority: 10
  run: taplo fmt {staged_files}
  stage_fixed: true

nixfmt:
  priority: 10
  run: nixfmt {staged_files}
  stage_fixed: true

Use stdenv.hostPlatform.system instead of pkgs.system
  home/common.nix
Due: nixfmt

Move duplicated packages to home/common.nix
  home/common.nix
  home/darwin.nix
  home/linux.nix
Due: nixfmt

Add atuin, zoxide, dust and consolidate shell hooks
  home/common.nix
  modules/fish/files/conf.d/99_hook.fish
Due: fish-indent, nixfmt

Inline platform-specific Makefile targets
  Makefile
Due: none

fish: add kabu init
  modules/fish/files/conf.d/99_hook.fish
Due: fish-indent

Revert Claude Code focus event workarounds
  modules/ghostty/files/config
  modules/tmux/default.nix
  modules/tmux/files/tmux.conf
Due: nixfmt

Remove redundant inline tmux settings from default.nix
  modules/tmux/default.nix
Due: nixfmt

Fix provider disable using integer 0 instead of false
  modules/nvim/files/lua/option.lua
Due: stylua

Add localoptions to sessionoptions for auto-session
  modules/nvim/files/lua/option.lua
Due: stylua

Redirect terraform-ls logs to /dev/null
  modules/nvim/files/lua/plugins/lsp.lua
Due: stylua

Use mise-installed copilot-language-server directly
  modules/nvim/files/lua/plugins/plugin.lua
Due: stylua

Add tmux-copy-pane plugin
  flake.lock
  flake.nix
  modules/tmux/default.nix
  modules/tmux/files/tmux.conf
Due: nixfmt

Add macOS and WSL clipboard fallbacks to yank script
  modules/scripts/files/yank
Due: none

Simplify tmux clipboard keybindings
  modules/tmux/files/tmux.conf
Due: none

Update flake.lock
  flake.lock
Due: none

Remove duplicate picard and kid3 entries in linux.nix
  home/linux.nix
Due: nixfmt

Unify unstablePkgs reference style in darwin.nix and linux.nix
  home/darwin.nix
  home/linux.nix
Due: nixfmt

Extract inetutils macOS overlay to overlays/
  flake.nix
  overlays/inetutils-macos-fix.nix
Due: nixfmt

Add formatter output to flake.nix for nix fmt
  flake.nix
Due: nixfmt

Rename flake-level unstablePkgs to nixosUnstablePkgs
  flake.nix
Due: nixfmt

Harden SSH: disable root login and PAM auth
  hosts/nixos/default.nix
Due: nixfmt

Add explicit Type to xremap services for consistency
  modules/systemd/default.nix
Due: nixfmt

Remove dead code from Neovim plugin configs
  modules/nvim/files/lua/plugins/appearance.lua
  modules/nvim/files/lua/plugins/fuzzy-finder.lua
  modules/nvim/files/lua/plugins/lsp.lua
  modules/nvim/files/lua/plugins/plugin.lua
Due: stylua

Fix deprecated APIs and remove redundant options
  modules/nvim/files/lua/option.lua
Due: stylua

Use vim.o.winborder for global floating window borders
  modules/nvim/files/lua/option.lua
  modules/nvim/files/lua/plugins/lsp.lua
Due: stylua

Deduplicate LSP keymaps and migrate to diagnostic.jump
  modules/nvim/files/lua/plugins/lsp.lua
Due: stylua

Replace Comment.nvim with builtin gc/gcc
  modules/nvim/files/lua/plugins/treesitter.lua
Due: stylua

Migrate from nvim-cmp to blink.cmp
  modules/nvim/files/lua/plugins/completion.lua
  modules/nvim/files/lua/plugins/lsp.lua
  modules/nvim/files/lua/plugins/plugin.lua
Due: stylua

Update tmux version
  overlays/tmux-master.nix
Due: nixfmt

Temporarily disable git status in statusline
  modules/scripts/files/cc-statusline.ts
Due: prettier

Reduce tmux history-limit from 10000 to 5000
  modules/tmux/files/tmux.conf
Due: none

Cycle occupied workspaces and add new workspace bind
  modules/hyprland/files/hyprland.conf
Due: none

Add compress=zstd and noatime to root btrfs mount
  hosts/nixos/hardware-configuration.nix
Due: nixfmt

Consolidate rocm-smi calls in GPU metrics script
  hosts/nixos/monitoring.nix
Due: nixfmt

Migrate nvim-colorizer.lua to new options format
  modules/nvim/files/lua/plugins/appearance.lua
Due: stylua

Add cmux
  hosts/darwin/homebrew.nix
Due: nixfmt

Migrate nvim-treesitter from master to main branch
  modules/nvim/files/lua/plugins/treesitter.lua
Due: stylua

Path conditions:
  fish-indent: any of: *.fish
  stylua: any of: *.lua
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}
  taplo: any of: *.toml
  nixfmt: any of: *.nix
