Repository h-michael/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: fish-indent, stylua, prettier, taplo, nixfmt

.lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false # Run gitleaks first, then format in parallel
  commands:
    # Security: Scan for secrets (highest priority)
    gitleaks:
      priority: 1
      run: gitleaks protect --verbose --redact --staged
      skip:
        - merge
        - rebase

    # Code formatting (run in parallel after security checks)
    fish-indent:
      priority: 10
      glob: "*.fish"
      run: fish_indent -w {staged_files}
      stage_fixed: true

    stylua:
      priority: 10
      glob: "*.lua"
      run: stylua {staged_files}
      stage_fixed: true

    prettier:
      priority: 10
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss,html}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    taplo:
      priority: 10
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true

    nixfmt:
      priority: 10
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # Final security check before push (scan entire repository)
    gitleaks-full:
      run: gitleaks detect --verbose --redact

Update flake.lock
  flake.lock
Due: none

Update tmux
  overlays/tmux-master.nix
Due: nixfmt

Add Cursor
  hosts/darwin/homebrew.nix
Due: nixfmt

Add Visual Studio Code
  hosts/darwin/homebrew.nix
Due: nixfmt

Disable auto-session plugin temporarily
  modules/nvim/files/lua/plugins/session.lua
Due: stylua

Add boot loader timeout configuration
  hosts/nixos/default.nix
Due: nixfmt

Lazy-load unused colorscheme plugins
  modules/nvim/files/lua/plugins/appearance.lua
Due: stylua

Add gemini-cli notification hook scripts
  modules/scripts/default.nix
  modules/scripts/files/gemini-hook-notification.ts
  modules/scripts/files/gemini-hook-stop.ts
Due: prettier, nixfmt

Fix TP-Link Bluetooth USB adapter udev rule
  hosts/nixos/default.nix
Due: nixfmt

Add btusb reload service for MT7925 Bluetooth init race
  hosts/nixos/default.nix
Due: nixfmt

Stabilize MT7925 Bluetooth startup
  hosts/nixos/default.nix
Due: nixfmt

Add devcontainer CLI to common packages
  home/common.nix
Due: nixfmt

Raise macOS default maxfiles limit to 65536
  hosts/darwin/default.nix
Due: nixfmt

Fix missing @ prefix in tmux user variable references
  modules/tmux/files/appearance.conf
Due: none

Remove yank from copy-mode to fix re-entrant crash
  modules/tmux/files/tmux.conf
Due: none

Disable luarocks in lazy.nvim
  modules/nvim/files/lua/config/lazy.lua
Due: stylua

Use mise from nixpkgs-unstable for newer version
  modules/mise/default.nix
Due: nixfmt

Add datadog CLI to macOS packages
  home/darwin.nix
Due: nixfmt

Add fish_should_add_to_history to filter history
  modules/fish/files/functions/fish_should_add_to_history.fish
Due: fish-indent

Add xz to cross-platform packages
  home/common.nix
  modules/ghostty/files/config
  modules/tmux/files/tmux.conf
Due: nixfmt

Update flake.lock and fix direnv build on macOS
  flake.lock
  flake.nix
  overlays/direnv-darwin-fix.nix
Due: nixfmt

Update tmux to latest master (31d77e29)
  overlays/tmux-master.nix
Due: nixfmt

Fix fish SIGKILL on macOS by re-signing after strip
  flake.nix
  overlays/fish-darwin-codesign-fix.nix
  overlays/tmux-master.nix
Due: nixfmt

Pin nixpkgs to fix aes_generic initrd build failure
  flake.lock
Due: none

Reduce tmux history-limit from 5000 to 3000
  modules/tmux/files/tmux.conf
Due: none

Enable udisks2 so udiskie can mount media
  hosts/nixos/default.nix
Due: nixfmt
